__pycache__/
*.py[cod]

# Dataset artifacts
data/cache/
data/processed/
data/raw/images/
data/

!yolo11s.pt

*.jpg
.agents/
.vscode/
.aider*

*.json

papers/

tph-yolov5l.pt
tph-best.pt
visualizations/
detections/
data.rar
metadata/
yolo11vip.pt
yolov5l-xs-11.pt

benchmark_official/
tmp/